/**
page container
**/
div#page {
	width:100%;
	height:100%;
	float:center;
	background-color:#ffffff;
}

/** 
main, left, content
**/
div#main {
	float:center;
	width:100%;
	padding: 0;
	margin: 0;
}

/** 
main, left, content
**/
div#main-content {
	float:center;
	width:100%;
}

/**
sidebar, right, content
**/
div#main-sidebar {
	width:100%;
	float:center;
}

/**
sidebar, right, content
**/


div.sidebar-box {
	margin:0;
	padding:0;
}

div.additional-drivers{
	display:none;
}

div#coverages{
	display:none;
}

div#topbody{
	display:none;
}