body
{
	/* To make the topbody display at the very top of the page */
	margin: 0px;
	/* To make the main background color of the whole page */
	background: #ffffff; /* White */

}

/* The top of the body where all the logo,login,toolbar and language will fit in */
div#topbody
{
	/* To make the div box background color */
	background: #fceabb; /* Old browsers */
	background: -moz-linear-gradient(left,  #fceabb 0%, #f8b500 67%, #f8b500 76%, #fbdf93 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#fceabb), color-stop(67%,#f8b500), color-stop(76%,#f8b500), color-stop(100%,#fbdf93)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #fceabb 0%,#f8b500 67%,#f8b500 76%,#fbdf93 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #fceabb 0%,#f8b500 67%,#f8b500 76%,#fbdf93 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #fceabb 0%,#f8b500 67%,#f8b500 76%,#fbdf93 100%); /* IE10+ */
	background: linear-gradient(left,  #fceabb 0%,#f8b500 67%,#f8b500 76%,#fbdf93 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=1 ); /* IE6-9 */
	
	/* To make the div box round on its edges */
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px; 
	-moz-border-radius:25px; /* Firefox 3.6 and earlier */
	
	/* To make the div box 3D */
	box-shadow: 0px 5px 5px #888888;
	
	/* To make the inside of the div centered and spaced */
	padding: 0.5ex 0.5em;
	
	position: fixed;
	z-index:1;
	width:100%;

}

/* Displays all data presented in tables */
div#dataPresentationInTables
{
}

/* td in tables */
div#dataPresentationInTables td
{
	text-align:center;
	border: 1px solid grey;
}

/* td in tables */
div#dataPresentationInTables td.label
{
	background-color:#FAEBD7;
	width: 25%;
}

/* td in tables */
div#dataPresentationInTables td.info
{
	background-color:#FFA500;
	width: 25%;
}

/* To set the width of the table to 100% */
table
{
	width: 100%;
	/* border: 1px solid orange;*/
}



/* The logo of the company */
div#logo
{
	/* It will go to the left side of the top of the body */
	width:15%;
	float:left;
}

/* To contain the login and toolbar */
div#authToolbar
{
	/*  To make it go at the center of the top of the body */
	width:70%;
	float:left;
}

/* The login div will be contained in the authToolbar div */
div#authentication
{
	/* Display it at the left side */
	width:27%;
	float:left;
	
	/* To change the size of the text into a smaller size */
	font-size: 0.8em;
	
	/* To make left space to the letters */
	padding-left: 0.5em;
}

/* The toolbar div (class=ddcolortabs) is contained in the ddcolortabs.css file */

/* The language div will be contained in the top of the body */
div#language
{
	/* Display it at the right side (It will be the last left) */
	width:14%;
	float:right;
	
	/* To set the text to the right of the div and make a little space to the right */
	text-align: right;
	padding-right: 0.5em;
}

/* No floating elements allowed on div elements */
div#clear
{
	/* No floating elements allowed in the left and right sides */
	clear:both;
}

/* To set the main bodies */
div#main, div#mainContract
{
	/* Display them to the center of the screen */
	position: relative;
	margin-left: auto;
	margin-right: auto;
	
	padding: 2ex 1em; /* To make some space between the letters inside and the borders of the div */
}

/* To set the 1st main body */ 
div#main
{
	/* Set its width and set the left and right borders */
	width:70%;/*aristosa increase for company XML form to fit better */
	border-left: 1px solid #969696; /* Greyish */
	border-right: 1px solid #969696; /* Greyish */
	border-bottom:1px solid #969696; /* Set the bottom border into a greyish color */
}

/* Set the elements of quotationTable.php */
h1#h1, td.h3, td.userInfo
{
	/* Set a little space to the left */
	padding-left: 0.5em;
}

/* Set the column of userInfo of quotationTable.php */
td.userInfo
{
	/* Justify the letters */
	text-align:justify;
}

/* Set the main header of the quotationTable.php */
h1#h1
{
	/* Set its vertical space at its top */
	margin-top: 0.5ex;

	/* Make the text capital */
	text-transform: uppercase;
}


/*tr#ca, tr#compText, tr#ndn, tr#ae, tr#ncdy, tr#ac1, tr#ac2, tr#ac3, tr#ac4, tr#adq, tr#ad1, tr#ad2, */

/* To set the "label" columns */
td.label
{
	/* Set its width and the spaces left and right */
	width: 40%;
	padding-left: 3em;
	padding-right:1em;
}

/* To set the "input" columns */
td.input
{
	/* Set its width */
	width: 60%;
}

/* To set the "required" span of the "label" columns */
td.label span.required
{
	/* Set its color of the text */
	color: #FF0000; /* Red */
}

/* To set the "rightSpace" span */
span.rightSpace
{
	/* Set its left space */
	padding-left: 1em;
}

/* To set the width of the corresponding columns */
td.col40Per
{
	width: 40%;
}

td.col20Per
{
	width: 20%;
}

td.col60Per
{
	width: 60%;
}

td.col50Per
{
	width: 50%;
}

td.col30Per
{
	width: 30%;
}

td.col15Per
{
	width: 15%;
}


td.col12Per
{
	width: 12%;
}

td.col10Per
{
	width: 10%;
	max-width: 10%;
}

td.col8Per
{
	width: 8%;
}

td.col5Per
{
	width: 5%;
}

td.col1Per
{
	width: 1%;
}

/* To set the h1 and h2 headings */
h1, h2
{
	/* To set their text color */
	color: #0000FF; /* Blue */
	
	/* Make the text capital */
	text-transform: uppercase;
}

/* To set the h2,h3 and h4 headings */
h2,h3,h4
{
	/* To set their vertical spaces at the top and bottom */
	margin-top: 2ex;
	margin-bottom: 1ex;
	
	/* Make the text capital */
	text-transform: uppercase;
}

/* To set the h3 heading */
h3
{
	/* To set its text color */
	color: #FF0000; /* Red */
}

/* To set the "message" div */
div#message
{
	/* To set its text color */
	color: #00FF00; /* Green */
}

/* To set the left main div ("main-content") of the "mainContract" div */
div#main-content {
	/* To set it to the left side of the mainContract */
	float:left;
	/* To set its width */
	width:59%;/*aristosa to fit also in IE 9, for updateContractData */
	/* To set its left space */
	margin-left: 10px;
}

/* To set the "col10Per" column of the "main-content" div */
div#main-content td.col10Per
{
	/* To set its font size smaller */
	font-size: 0.9em;
}

/*div#main-content input[type="text"]
{
	font-size: 0.9em;
}

div#main-content select
{
	font-size: 0.9em;
}*/

/* To set the right side "main-sidebar" of the "mainContract" div*/
div#main-sidebar {
	/* Set its width */
	width:39%;
	/* To set it to the right side of the "mainContract" div */
	float:right;
	/* To set its left border */
	border-left:1px solid #969696; /* Greyish */
}

/* To set the "col60Per" column of the "main-sidebar" div */
div#main-sidebar td.col60Per{
	/* To set its font size into a smaller one */
	font-size: 0.9em;
}

/* To set the "col20Per" column of the "main-sidebar" div */
div#main-sidebar td.col20Per{
	/* To set its font size into a smaller one */
	font-size: 0.9em;
}

/* To set the "col18Per" column of the "main-sidebar" div */
div#main-sidebar td.col18Per{
	/* To set its font size into a smaller one */
	font-size: 0.9em;
}

/* To set the "col15Per" column of the "main-sidebar" div */
div#main-sidebar td.col15Per{
	/* To set its font size into a smaller one */
	font-size: 0.9em;
}

/* To set the "col15Per" column of the "main-sidebar" div */
div#main-sidebar td.col10Per{
	/* To set its font size into a smaller one */
	font-size: 0.9em;
}

/* To set the "sidebar-box" div inside the "main-sidebar" div */
div.sidebar-box {
	/* To set its margins */
	margin:0px 5px;
	padding-bottom:5px; /* Set the bottom padding */
	border-bottom:1px solid #969696; /* Set the bottom border into a greyish color */
	max-height:240px;overflow:auto; /* to enable scroll bars after this height */
}

/* Set the h3 heading inside the "sidebar-box" div */
div.sidebar-box h3
{
	/* Set its top margin (vertical-space) to 0 */
	margin-top: 0px;
}

/* Set the "contract1" and "contract2" h1 */
h1#contract1, h1#contract2
{
	/* Set the top and bottom margins */
	margin-top: 1ex;
	margin-bottom: 0.1ex;
}

/* Set the "contract2" h1 */
h1#contract2
{	
	color:#969696;	/* Set the color of the text into a greyish */
}

/* Set the a of "contract1" h1 */
h1#contract1 a
{
	/* Remove the underline */
	text-decoration:none;
	/* Set the color of the text into a goldish color */
	color:#C8A878;
}
	
/* Set the a when the mouse hovers over it of the "contract1" h1 */
h1#contract1 a:hover
{
	/* Display the link text underlined */
	border-bottom:1px solid #C8A878; /* The same color as its text color */
}

/* Set the left side div of the vehicleDesign in the "mainContract" div */
div#vehDesignLeft
{
	/* Set it to the left side */
	float:left;
}

/* Set the right side div of the vehicleDesign in the "mainContract" div */
div#vehDesignRight
{
	/* Set it to the right side */
	float:right;
}


/* Set the "col18Per" column */
td.col18Per
{
	/* Set its width */
	width: 18%;
}

/* aristos add the secondary menu */
#centeredmenu {
   float:left;
   width:100%;
   background:#fff;
   border-bottom:4px solid #000;
   overflow:hidden;
   position:relative;
}
#centeredmenu ul {
   clear:left;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   left:50%;
   text-align:center;
}
#centeredmenu ul li {
   display:block;
   float:left;
   list-style:none;
   margin:0;
   padding:2px;
   position:relative;
   right:50%;
}
#centeredmenu ul li a {
   display:block;
   margin:0 0 0 1px;
   padding:3px 10px;
   background:#ddd;
   color:#000;
   text-decoration:none;
   line-height:1.3em;
}
#centeredmenu ul li a:hover {
   background:#369;
   color:#fff;
}
#centeredmenu ul li a.active,
#centeredmenu ul li a.active:hover {
   color:#fff;
   background:#000;
   font-weight:bold;
}