<OPTION VALUE="CYPRUS">CYPRUS</OPTION> 
<OPTION VALUE="UNITED STATES">UNITED STATES</OPTION> 
<OPTION VALUE="UNITED KINGDOM">UNITED KINGDOM</OPTION> 
<OPTION VALUE="AFGHANISTAN">AFGHANISTAN</OPTION> 
<OPTION VALUE="ALBANIA">ALBANIA</OPTION> 
<OPTION VALUE="ALGERIA">ALGERIA</OPTION> 
<OPTION VALUE="AMERICAN SAMOA">AMERICAN SAMOA</OPTION> 
<OPTION VALUE="ANDORRA">ANDORRA</OPTION> 
<OPTION VALUE="ANGOLA">ANGOLA</OPTION> 
<OPTION VALUE="ANGUILLA">ANGUILLA</OPTION> 
<OPTION VALUE="ANTARCTICA">ANTARCTICA</OPTION> 
<OPTION VALUE="ANTIGUA AND BARBUDA">ANTIGUA AND BARBUDA</OPTION> 
<OPTION VALUE="ARGENTINA">ARGENTINA</OPTION> 
<OPTION VALUE="ARMENIA">ARMENIA</OPTION> 
<OPTION VALUE="ARUBA">ARUBA</OPTION> 
<OPTION VALUE="AUSTRALIA">AUSTRALIA</OPTION> 
<OPTION VALUE="AUSTRIA">AUSTRIA</OPTION> 
<OPTION VALUE="AZERBAIJAN">AZERBAIJAN</OPTION> 
<OPTION VALUE="BAHAMAS">BAHAMAS</OPTION> 
<OPTION VALUE="BAHRAIN">BAHRAIN</OPTION> 
<OPTION VALUE="BANGLADESH">BANGLADESH</OPTION> 
<OPTION VALUE="BARBADOS">BARBADOS</OPTION> 
<OPTION VALUE="BELARUS">BELARUS</OPTION> 
<OPTION VALUE="BELGIUM">BELGIUM</OPTION> 
<OPTION VALUE="BELIZE">BELIZE</OPTION> 
<OPTION VALUE="BENIN">BENIN</OPTION> 
<OPTION VALUE="BERMUDA">BERMUDA</OPTION> 
<OPTION VALUE="BHUTAN">BHUTAN</OPTION> 
<OPTION VALUE="BOLIVIA">BOLIVIA</OPTION> 
<OPTION VALUE="BOSNIA AND HERZEGOVINA">BOSNIA AND HERZEGOVINA</OPTION> 
<OPTION VALUE="BOTSWANA">BOTSWANA</OPTION> 
<OPTION VALUE="BOUVET ISLAND">BOUVET ISLAND</OPTION> 
<OPTION VALUE="BRAZIL">BRAZIL</OPTION> 
<OPTION VALUE="BRITISH INDIAN OCEAN TERRITORY">BRITISH INDIAN OCEAN TERRITORY</OPTION> 
<OPTION VALUE="BRUNEI DARUSSALAM">BRUNEI DARUSSALAM</OPTION> 
<OPTION VALUE="BULGARIA">BULGARIA</OPTION> 
<OPTION VALUE="BURKINA FASO">BURKINA FASO</OPTION> 
<OPTION VALUE="BURUNDI">BURUNDI</OPTION> 
<OPTION VALUE="CAMBODIA">CAMBODIA</OPTION> 
<OPTION VALUE="CAMEROON">CAMEROON</OPTION> 
<OPTION VALUE="CANADA">CANADA</OPTION> 
<OPTION VALUE="CAPE VERDE">CAPE VERDE</OPTION> 
<OPTION VALUE="CAYMAN ISLANDS">CAYMAN ISLANDS</OPTION> 
<OPTION VALUE="CENTRAL AFRICAN REPUBLIC">CENTRAL AFRICAN REPUBLIC</OPTION> 
<OPTION VALUE="CHAD">CHAD</OPTION> 
<OPTION VALUE="CHILE">CHILE</OPTION> 
<OPTION VALUE="CHINA">CHINA</OPTION> 
<OPTION VALUE="CHRISTMAS ISLAND">CHRISTMAS ISLAND</OPTION> 
<OPTION VALUE="COCOS (KEELING) ISLANDS">COCOS (KEELING) ISLANDS</OPTION> 
<OPTION VALUE="COLOMBIA">COLOMBIA</OPTION> 
<OPTION VALUE="COMOROS">COMOROS</OPTION> 
<OPTION VALUE="CONGO">CONGO</OPTION> 
<OPTION VALUE="CONGO, THE DEMOCRATIC REPUBLIC OF THE">CONGO, THE DEMOCRATIC REPUBLIC OF THE</OPTION> 
<OPTION VALUE="COOK ISLANDS">COOK ISLANDS</OPTION> 
<OPTION VALUE="COSTA RICA">COSTA RICA</OPTION> 
<OPTION VALUE="COTE D'IVOIRE">COTE D'IVOIRE</OPTION> 
<OPTION VALUE="CROATIA">CROATIA</OPTION> 
<OPTION VALUE="CUBA">CUBA</OPTION> 
<OPTION VALUE="CZECH REPUBLIC">CZECH REPUBLIC</OPTION> 
<OPTION VALUE="DENMARK">DENMARK</OPTION> 
<OPTION VALUE="DJIBOUTI">DJIBOUTI</OPTION> 
<OPTION VALUE="DOMINICA">DOMINICA</OPTION> 
<OPTION VALUE="DOMINICAN REPUBLIC">DOMINICAN REPUBLIC</OPTION> 
<OPTION VALUE="ECUADOR">ECUADOR</OPTION> 
<OPTION VALUE="EGYPT">EGYPT</OPTION> 
<OPTION VALUE="EL SALVADOR">EL SALVADOR</OPTION> 
<OPTION VALUE="EQUATORIAL GUINEA">EQUATORIAL GUINEA</OPTION> 
<OPTION VALUE="ERITREA">ERITREA</OPTION> 
<OPTION VALUE="ESTONIA">ESTONIA</OPTION> 
<OPTION VALUE="ETHIOPIA">ETHIOPIA</OPTION> 
<OPTION VALUE="FALKLAND ISLANDS (MALVINAS)">FALKLAND ISLANDS (MALVINAS)</OPTION> 
<OPTION VALUE="FAROE ISLANDS">FAROE ISLANDS</OPTION> 
<OPTION VALUE="FIJI">FIJI</OPTION> 
<OPTION VALUE="FINLAND">FINLAND</OPTION> 
<OPTION VALUE="FRANCE">FRANCE</OPTION> 
<OPTION VALUE="FRENCH GUIANA">FRENCH GUIANA</OPTION> 
<OPTION VALUE="FRENCH POLYNESIA">FRENCH POLYNESIA</OPTION> 
<OPTION VALUE="FRENCH SOUTHERN TERRITORIES">FRENCH SOUTHERN TERRITORIES</OPTION> 
<OPTION VALUE="GABON">GABON</OPTION> 
<OPTION VALUE="GAMBIA">GAMBIA</OPTION> 
<OPTION VALUE="GEORGIA">GEORGIA</OPTION> 
<OPTION VALUE="GERMANY">GERMANY</OPTION> 
<OPTION VALUE="GHANA">GHANA</OPTION> 
<OPTION VALUE="GIBRALTAR">GIBRALTAR</OPTION> 
<OPTION VALUE="GREECE">GREECE</OPTION> 
<OPTION VALUE="GREENLAND">GREENLAND</OPTION> 
<OPTION VALUE="GRENADA">GRENADA</OPTION> 
<OPTION VALUE="GUADELOUPE">GUADELOUPE</OPTION> 
<OPTION VALUE="GUAM">GUAM</OPTION> 
<OPTION VALUE="GUATEMALA">GUATEMALA</OPTION> 
<OPTION VALUE="GUINEA">GUINEA</OPTION> 
<OPTION VALUE="GUINEA-BISSAU">GUINEA-BISSAU</OPTION> 
<OPTION VALUE="GUYANA">GUYANA</OPTION> 
<OPTION VALUE="HAITI">HAITI</OPTION> 
<OPTION VALUE="HEARD ISLAND AND MCDONALD ISLANDS">HEARD ISLAND AND MCDONALD ISLANDS</OPTION> 
<OPTION VALUE="HOLY SEE (VATICAN CITY STATE)">HOLY SEE (VATICAN CITY STATE)</OPTION> 
<OPTION VALUE="HONDURAS">HONDURAS</OPTION> 
<OPTION VALUE="HONG KONG">HONG KONG</OPTION> 
<OPTION VALUE="HUNGARY">HUNGARY</OPTION> 
<OPTION VALUE="ICELAND">ICELAND</OPTION> 
<OPTION VALUE="INDIA">INDIA</OPTION> 
<OPTION VALUE="INDONESIA">INDONESIA</OPTION> 
<OPTION VALUE="IRAN, ISLAMIC REPUBLIC OF">IRAN, ISLAMIC REPUBLIC OF</OPTION> 
<OPTION VALUE="IRAQ">IRAQ</OPTION> 
<OPTION VALUE="IRELAND">IRELAND</OPTION> 
<OPTION VALUE="ISRAEL">ISRAEL</OPTION> 
<OPTION VALUE="ITALY">ITALY</OPTION> 
<OPTION VALUE="JAMAICA">JAMAICA</OPTION> 
<OPTION VALUE="JAPAN">JAPAN</OPTION> 
<OPTION VALUE="JORDAN">JORDAN</OPTION> 
<OPTION VALUE="KAZAKHSTAN">KAZAKHSTAN</OPTION> 
<OPTION VALUE="KENYA">KENYA</OPTION> 
<OPTION VALUE="KIRIBATI">KIRIBATI</OPTION> 
<OPTION VALUE="KOREA, DEMOCRATIC PEOPLE'S REPUBLIC OF">KOREA, DEMOCRATIC PEOPLE'S REPUBLIC OF</OPTION> 
<OPTION VALUE="KOREA, REPUBLIC OF">KOREA, REPUBLIC OF</OPTION> 
<OPTION VALUE="KUWAIT">KUWAIT</OPTION> 
<OPTION VALUE="KYRGYZSTAN">KYRGYZSTAN</OPTION> 
<OPTION VALUE="LAO PEOPLE'S DEMOCRATIC REPUBLIC">LAO PEOPLE'S DEMOCRATIC REPUBLIC</OPTION> 
<OPTION VALUE="LATVIA">LATVIA</OPTION> 
<OPTION VALUE="LEBANON">LEBANON</OPTION> 
<OPTION VALUE="LESOTHO">LESOTHO</OPTION> 
<OPTION VALUE="LIBERIA">LIBERIA</OPTION> 
<OPTION VALUE="LIBYAN ARAB JAMAHIRIYA">LIBYAN ARAB JAMAHIRIYA</OPTION> 
<OPTION VALUE="LIECHTENSTEIN">LIECHTENSTEIN</OPTION> 
<OPTION VALUE="LITHUANIA">LITHUANIA</OPTION> 
<OPTION VALUE="LUXEMBOURG">LUXEMBOURG</OPTION> 
<OPTION VALUE="MACAO">MACAO</OPTION> 
<OPTION VALUE="MACEDONIA, THE FORMER YUGOSLAV REPUBLIC OF">MACEDONIA, THE FORMER YUGOSLAV REPUBLIC OF</OPTION> 
<OPTION VALUE="MADAGASCAR">MADAGASCAR</OPTION> 
<OPTION VALUE="MALAWI">MALAWI</OPTION> 
<OPTION VALUE="MALAYSIA">MALAYSIA</OPTION> 
<OPTION VALUE="MALDIVES">MALDIVES</OPTION> 
<OPTION VALUE="MALI">MALI</OPTION> 
<OPTION VALUE="MALTA">MALTA</OPTION> 
<OPTION VALUE="MARSHALL ISLANDS">MARSHALL ISLANDS</OPTION> 
<OPTION VALUE="MARTINIQUE">MARTINIQUE</OPTION> 
<OPTION VALUE="MAURITANIA">MAURITANIA</OPTION> 
<OPTION VALUE="MAURITIUS">MAURITIUS</OPTION> 
<OPTION VALUE="MAYOTTE">MAYOTTE</OPTION> 
<OPTION VALUE="MEXICO">MEXICO</OPTION> 
<OPTION VALUE="MICRONESIA, FEDERATED STATES OF">MICRONESIA, FEDERATED STATES OF</OPTION> 
<OPTION VALUE="MOLDOVA, REPUBLIC OF">MOLDOVA, REPUBLIC OF</OPTION> 
<OPTION VALUE="MONACO">MONACO</OPTION> 
<OPTION VALUE="MONGOLIA">MONGOLIA</OPTION> 
<OPTION VALUE="MONTSERRAT">MONTSERRAT</OPTION> 
<OPTION VALUE="MOROCCO">MOROCCO</OPTION> 
<OPTION VALUE="MOZAMBIQUE">MOZAMBIQUE</OPTION> 
<OPTION VALUE="MYANMAR">MYANMAR</OPTION> 
<OPTION VALUE="NAMIBIA">NAMIBIA</OPTION> 
<OPTION VALUE="NAURU">NAURU</OPTION> 
<OPTION VALUE="NEPAL">NEPAL</OPTION> 
<OPTION VALUE="NETHERLANDS">NETHERLANDS</OPTION> 
<OPTION VALUE="NETHERLANDS ANTILLES">NETHERLANDS ANTILLES</OPTION> 
<OPTION VALUE="NEW CALEDONIA">NEW CALEDONIA</OPTION> 
<OPTION VALUE="NEW ZEALAND">NEW ZEALAND</OPTION> 
<OPTION VALUE="NICARAGUA">NICARAGUA</OPTION> 
<OPTION VALUE="NIGER">NIGER</OPTION> 
<OPTION VALUE="NIGERIA">NIGERIA</OPTION> 
<OPTION VALUE="NIUE">NIUE</OPTION> 
<OPTION VALUE="NORFOLK ISLAND">NORFOLK ISLAND</OPTION> 
<OPTION VALUE="NORTHERN MARIANA ISLANDS">NORTHERN MARIANA ISLANDS</OPTION> 
<OPTION VALUE="NORWAY">NORWAY</OPTION> 
<OPTION VALUE="OMAN">OMAN</OPTION> 
<OPTION VALUE="PAKISTAN">PAKISTAN</OPTION> 
<OPTION VALUE="PALAU">PALAU</OPTION> 
<OPTION VALUE="PALESTINIAN TERRITORY, OCCUPIED">PALESTINIAN TERRITORY, OCCUPIED</OPTION> 
<OPTION VALUE="PANAMA">PANAMA</OPTION> 
<OPTION VALUE="PAPUA NEW GUINEA">PAPUA NEW GUINEA</OPTION> 
<OPTION VALUE="PARAGUAY">PARAGUAY</OPTION> 
<OPTION VALUE="PERU">PERU</OPTION> 
<OPTION VALUE="PHILIPPINES">PHILIPPINES</OPTION> 
<OPTION VALUE="PITCAIRN">PITCAIRN</OPTION> 
<OPTION VALUE="POLAND">POLAND</OPTION> 
<OPTION VALUE="PORTUGAL">PORTUGAL</OPTION> 
<OPTION VALUE="PUERTO RICO">PUERTO RICO</OPTION> 
<OPTION VALUE="QATAR">QATAR</OPTION> 
<OPTION VALUE="REUNION">REUNION</OPTION> 
<OPTION VALUE="ROMANIA">ROMANIA</OPTION> 
<OPTION VALUE="RUSSIAN FEDERATION">RUSSIAN FEDERATION</OPTION> 
<OPTION VALUE="RWANDA">RWANDA</OPTION> 
<OPTION VALUE="SAINT HELENA">SAINT HELENA</OPTION> 
<OPTION VALUE="SAINT KITTS AND NEVIS">SAINT KITTS AND NEVIS</OPTION> 
<OPTION VALUE="SAINT LUCIA">SAINT LUCIA</OPTION> 
<OPTION VALUE="SAINT PIERRE AND MIQUELON">SAINT PIERRE AND MIQUELON</OPTION> 
<OPTION VALUE="SAINT VINCENT AND THE GRENADINES">SAINT VINCENT AND THE GRENADINES</OPTION> 
<OPTION VALUE="SAMOA">SAMOA</OPTION> 
<OPTION VALUE="SAN MARINO">SAN MARINO</OPTION> 
<OPTION VALUE="SAO TOME AND PRINCIPE">SAO TOME AND PRINCIPE</OPTION> 
<OPTION VALUE="SAUDI ARABIA">SAUDI ARABIA</OPTION> 
<OPTION VALUE="SENEGAL">SENEGAL</OPTION> 
<OPTION VALUE="SERBIA AND MONTENEGRO">SERBIA AND MONTENEGRO</OPTION> 
<OPTION VALUE="SEYCHELLES">SEYCHELLES</OPTION> 
<OPTION VALUE="SIERRA LEONE">SIERRA LEONE</OPTION> 
<OPTION VALUE="SINGAPORE">SINGAPORE</OPTION> 
<OPTION VALUE="SLOVAKIA">SLOVAKIA</OPTION> 
<OPTION VALUE="SLOVENIA">SLOVENIA</OPTION> 
<OPTION VALUE="SOLOMON ISLANDS">SOLOMON ISLANDS</OPTION> 
<OPTION VALUE="SOMALIA">SOMALIA</OPTION> 
<OPTION VALUE="SOUTH AFRICA">SOUTH AFRICA</OPTION> 
<OPTION VALUE="SOUTH GEORGIA AND THE SOUTH SANDWICH ISLANDS">SOUTH GEORGIA AND THE SOUTH SANDWICH ISLANDS</OPTION> 
<OPTION VALUE="SPAIN">SPAIN</OPTION> 
<OPTION VALUE="SRI LANKA">SRI LANKA</OPTION> 
<OPTION VALUE="SUDAN">SUDAN</OPTION> 
<OPTION VALUE="SURINAME">SURINAME</OPTION> 
<OPTION VALUE="SVALBARD AND JAN MAYEN">SVALBARD AND JAN MAYEN</OPTION> 
<OPTION VALUE="SWAZILAND">SWAZILAND</OPTION> 
<OPTION VALUE="SWEDEN">SWEDEN</OPTION> 
<OPTION VALUE="SWITZERLAND">SWITZERLAND</OPTION> 
<OPTION VALUE="SYRIAN ARAB REPUBLIC">SYRIAN ARAB REPUBLIC</OPTION> 
<OPTION VALUE="TAIWAN, PROVINCE OF CHINA">TAIWAN, PROVINCE OF CHINA</OPTION> 
<OPTION VALUE="TAJIKISTAN">TAJIKISTAN</OPTION> 
<OPTION VALUE="TANZANIA, UNITED REPUBLIC OF">TANZANIA, UNITED REPUBLIC OF</OPTION> 
<OPTION VALUE="THAILAND">THAILAND</OPTION> 
<OPTION VALUE="TIMOR-LESTE">TIMOR-LESTE</OPTION> 
<OPTION VALUE="TOGO">TOGO</OPTION> 
<OPTION VALUE="TOKELAU">TOKELAU</OPTION> 
<OPTION VALUE="TONGA">TONGA</OPTION> 
<OPTION VALUE="TRINIDAD AND TOBAGO">TRINIDAD AND TOBAGO</OPTION> 
<OPTION VALUE="TUNISIA">TUNISIA</OPTION> 
<OPTION VALUE="TURKEY">TURKEY</OPTION> 
<OPTION VALUE="TURKMENISTAN">TURKMENISTAN</OPTION> 
<OPTION VALUE="TURKS AND CAICOS ISLANDS">TURKS AND CAICOS ISLANDS</OPTION> 
<OPTION VALUE="TUVALU">TUVALU</OPTION> 
<OPTION VALUE="UGANDA">UGANDA</OPTION> 
<OPTION VALUE="UKRAINE">UKRAINE</OPTION> 
<OPTION VALUE="UNITED ARAB EMIRATES">UNITED ARAB EMIRATES</OPTION> 
<OPTION VALUE="UNITED KINGDOM">UNITED KINGDOM</OPTION> 
<OPTION VALUE="UNITED STATES">UNITED STATES</OPTION> 
<OPTION VALUE="UNITED STATES MINOR OUTLYING ISLANDS">UNITED STATES MINOR OUTLYING ISLANDS</OPTION> 
<OPTION VALUE="URUGUAY">URUGUAY</OPTION> 
<OPTION VALUE="UZBEKISTAN">UZBEKISTAN</OPTION> 
<OPTION VALUE="VANUATU">VANUATU</OPTION> 
<OPTION VALUE="VENEZUELA">VENEZUELA</OPTION> 
<OPTION VALUE="VIET NAM">VIET NAM</OPTION> 
<OPTION VALUE="VIRGIN ISLANDS, BRITISH">VIRGIN ISLANDS, BRITISH</OPTION> 
<OPTION VALUE="VIRGIN ISLANDS, U.S.">VIRGIN ISLANDS, U.S.</OPTION> 
<OPTION VALUE="WALLIS AND FUTUNA">WALLIS AND FUTUNA</OPTION> 
<OPTION VALUE="WESTERN SAHARA">WESTERN SAHARA</OPTION> 
<OPTION VALUE="YEMEN">YEMEN</OPTION> 
<OPTION VALUE="ZAMBIA">ZAMBIA</OPTION> 
<OPTION VALUE="ZIMBABWE">ZIMBABWE</OPTION>
